In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/main/day28-column-transformer/covid_toy.csv")

In [4]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns = "has_covid"), df['has_covid'], test_size = 0.2)

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

# By Using Column Transformer we can get this done only writing a simple line of code

In [7]:
from sklearn.compose import ColumnTransformer

In [13]:
transformer = ColumnTransformer(transformers = [('tnf1', SimpleImputer(), ['fever']),
                                               ('tnf2', OrdinalEncoder(categories=[["Mild", 'Strong']]), ['cough']),
                                               ('tnf3', OneHotEncoder(sparse = False, drop = 'first'), ["gender", "city"])], remainder = 'passthrough')

In [23]:
X_transformed = transformer.fit_transform(X_train)
X_train_transformed = pd.DataFrame(X_transformed)
X_train_transformed.head()

       0    1    2    3    4    5     6
0   98.0  1.0  0.0  0.0  1.0  0.0  10.0
1   98.0  0.0  0.0  0.0  0.0  1.0  65.0
2  101.0  0.0  0.0  1.0  0.0  0.0  49.0
3  104.0  0.0  1.0  0.0  0.0  1.0  42.0
4   98.0  1.0  1.0  0.0  0.0  1.0  23.0